<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a href="index3.html" class="brand-link">
    <img src="dist/img/logo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
    <span class="brand-text font-weight-light">Fruver and Verdures</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <img src="dist/img/user.png" class="img-circle elevation-2" alt="User Image">
      </div>
      <div class="info">
        <a href="#" class="d-block">Administrador</a>
      </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
        <li class="nav-item">
          <a href="/home" class="nav-link ">
            <i class="nav-icon fas fa-tachometer-alt"></i>
            Dashboard
          </a>

        </li>
        <li class="nav-item">
          <a href="/producto" class="nav-link ">
            <i class="nav-icon fab fa-product-hunt"></i>

            Gestionar Producto
          </a>

        </li>
        <li class="nav-item">
          <a href="/lote" class="nav-link ">
            <i class="nav-icon fas fa-check-circle"></i>
            Gestionar Lote
          </a>

        </li>
        <li class="nav-item">
          <a href="/proveedor" class="nav-link ">
            <i class="nav-icon fas fa-male"></i>
            Gestionar Proveedor
          </a>

        </li>
        <li class="nav-item">
          <a href="/pedido" class="nav-link ">
            <i class="nav-icon fas fa-arrow-right"></i>
            Gestionar Pedido
          </a>

        </li>
        <li class="nav-item">
          <a href="/devolucion" class="nav-link ">
            <i class="nav-icon fas fa-arrow-left"></i>
            Gestionar Devolucion
          </a>

        </li>
        <li class="nav-item">
          <a href="/reporte" class="nav-link ">
            <i class="nav-icon fab fa-sellcast"></i>
            Gestionar Reporte
          </a>

        </li>
        <li class="nav-item">
          <a href="/persona" class="nav-link ">
            <i class="nav-icon fas fa-user"></i>
            Gestionar Persona
          </a>

        </li>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>